/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button styles */
button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

/* Input styles */
input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

/* Form styles */
.form {
  display: flex;
  margin-bottom: 20px;
  padding: 0%;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* List styles */
ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

/* Link styles */
a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2980b9;
}


